**__pycache__
deleteme
_build
build
astrophot.egg-info
**.ipynb_checkpoints
**.#*
**.log
**.hdf5
**.coverage
**.xml
tests/*.fits
tests/*.yaml
docs/tutorials/*.fits
docs/tutorials/*.yaml
docs/tutorials/*.jpg
docs/autophot.*rst
docs/modules.rst
pip_cheatsheet.txt
.gitpod.yml
dist/*