**__pycache__
deleteme
_build
build
autoprof.egg-info
**.ipynb_checkpoints
**.#*
**.log
**.coverage
docs/tutorials/*.fits
docs/tutorials/*.yaml
docs/tutorials/*.jpg
docs/autoprof.*rst
docs/modules.rst
pip_cheatsheet.txt